<style>
    input {max-width: 20em;}
</style>
{% extends "base.html" %}

{%block title%}
Create and account
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container col-lg-12 block">
    <h2>Log In</h2>
      <form method="post" class="form-horizontal">
          {% csrf_token %}
          <div class="col-6">
            {{ form.email|as_crispy_field }}
            {{ form.username|as_crispy_field }}
            {{ form.password1|as_crispy_field }}
            {{ form.password2|as_crispy_field }}
            <button type="submit" class="btn btn-success">Sign Up</button>
        </div> 
    </form>
</div>
{% endblock %}


<!-- <form method="post" class="form-group">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-success">Join</button>
</form>-->